body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

.hidden {
  display: none !important;
}

#map-container .map-feature {
  fill: #AAF;
  stroke-width: 2px;
  stroke: #888;
}

.neighborhood .neighborhood-marker {
  fill: #44E;
  stroke-width: 2px;
  stroke: #EEE;
}

.neighborhood .neighborhood-target {
  opacity: 0;
  cursor: pointer;
}

.neighborhood .neighborhood-label {
  font-size: 12px;
  font-weight: bold;
}

.neighborhood .trip {
  stroke: #337;
}

.station circle {
  fill: #888;
}
